/* Imports */
@import 'modules/navbar';
@import 'modules/footer';
@import 'modules/forms';
@import 'modules/pages/about';
@import 'modules/pages/features';
@import 'modules/pages/branding';

body {
    margin: 0;
    width: 100%;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    display: table;
    height: 100vh;
}

.checklistText,
.checklistIcon {
    display: inline;
    font-size: 60px;
}

.checklistIcon {
    margin-left: 20px;
}

.downloadbutton {
    transition: ease-out 0.5s;
    padding: 15px 32px;
    border-radius: 24px;
    background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);

    i {
        margin-right: 5px;
    }

    &:hover {
        background-color: #fff;
        border-image-source: linear-gradient(90deg, #ffb032 0%, #dd3b67 100%);
        border: 1px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s;
    }
}

.text {
    max-width: 500px;

    h2 {
        font-size: 60px;
        font-weight: bold;
        opacity: .8;
    }

    p {
        margin-top: -30px;
        line-height: 20px;
        color: #747d8c;
        margin-bottom: 40px;
    }
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100vh;
}

.gradientHeader {
    height: auto;
    width: 100vw;
    height: 100vh;
    margin-top: -100px;
    background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);
    margin: 0;
    z-index: -1;

    a.downbutton {
        cursor: pointer;
    }

    a.downbutton>i.fa {
        font-size: 40px;
        position: absolute;
        bottom: 80px;
        color: #000;
        cursor: pointer;
    }

    h1 {
        text-align: center;
        font-size: 100px;
        opacity: 0.6;
        margin: 0;
        padding: 40px;
    }

    @media screen and (max-width: 600px) {
        h1 {
            font-size: 20vw;
            max-width: 80vw;
        }
    }
}

.main {
    height: 100vh;
}

.button {
    padding: 10px;
    background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.5s;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);

    &:hover {
        background-color: #fff;
        background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s;
    }
}

iframe {
    width: 50%;
    height: 66.67vh;
    border: none;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.img {
    height: 128px;
    width: auto;
}

.contact {
    color: black;
}

#iframe {
    box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

a:hover {
    color: #808080;
}

.gradient {
    background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);
}

h2 {
    font-weight: 300;
}

.errorbutton,
.errorbutton:hover {
    text-decoration: none;
    color: white;
}

.license {
    display: none;
}

#scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 25px;
    border-radius: 100%;
    transition: ease-out 0.25s;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);

    >i {
        margin: 0;
    }

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
        transition: ease-in 0.25s;
    }
}

.dwnBtn {
    cursor: pointer;
}

.blurb {
    padding: 50px;
    max-width: 80vh;

    h2 {
        font-size: 70px;
        line-height: 60px;
    }

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.icons i {
    color: black !important;
}

.theme {
    color: #000;
    text-align: center;

    p {
        max-width: 100%;
    }
}

.orange {
    background: #ffb032;
}

.pink {
    background: #dd3b67;
}

.tryit {
    text-align: center;

    h1,
    i {
        display: inline;
        font-size: calc(2.0vh + 1.0vw);
    }

    i {
        margin-left: 20px;
    }
}

#unsupported {
    display: none;
}
