/* Imports */
@import 'modules/navbar';
@import 'modules/footer';
@import 'modules/forms';
@import 'modules/pages/about';
@import 'modules/pages/features';

body {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    min-height: 400px;
    margin-bottom: 75px;
}

.button {
    padding: 10px;
    background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.5s;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    &:hover {
        background-color: #fff;
        background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s;
    }
}

iframe {
    width: 50%;
    height: 66.67vh;
    border: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.img {
    height: 128px;
    width: auto;
}

.contact {
    color: black;
}

#iframe {
    box-shadow: 0 0 25px rgba(0,0,0,.3);
}

a:hover {
    color: #808080;
}

.gradient {
    background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);
}

h2 {
    font-weight: 300;
}