button {
  padding: 13px 40px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 90px;
  border: none;
  outline: none;
  background: none;
  font-family: "Lexend Deca", sans-serif;
  cursor: pointer;

  svg {
    font-size: 20px;
    vertical-align: middle;
  }
}

.filled {
  background: #fbbebe;
  border: 4px solid #fbbebe;
  color: black;

  &:hover {
    opacity: 0.8;
  }
}

.hollow {
  border: 4px solid #fbbebe;
  color: #fbbebe;
}

.openlink {
  color: var(--link);
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  svg {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 2px;
  }
}

a.hollow {
  border: 4px solid #fbbebe;
  color: #fbbebe;
  padding: 13px 40px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 90px;
  outline: none;
  background: none;
  font-family: "Lexend Deca", sans-serif;
  cursor: pointer;
  text-decoration: none;

  svg {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .buttons {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
