footer {
  background: var(--secondary-background-color);
  align-items: baseline;
  color: var(--text-color);
  flex-wrap: wrap;
  padding: 40px;
  display: flex;
  justify-content: center;

  .footerContent {
    width: var(--width);
    display: flex;
    justify-content: space-between;
  }

  button.language {
    color: var(--text-color);
    padding: 0;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
      font-size: 20px;
    }
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }
}

footer h2 {
  font-size: 1.17em;
}

footer > div {
  height: 66%;
}

footer ul {
  list-style-type: none;

  li {
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    a {
      overflow: hidden;
      text-decoration: none;
      position: relative;
      padding: 0.2em 0;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: var(--text-color);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
      }

      &::after {
        height: 0.15em;
        transform: scale(0);
        transform-origin: center;
      }

      &:hover::after {
        opacity: 1;
        transform: scale(1);
      }

      &:focus:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.social {
  a {
    &:hover::after {
      opacity: 0 !important;
    }

    &:focus::after {
      opacity: 0 !important;
    }
  }
}

footer > div > ul > li {
  font-size: 1.3em;
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
  }
}

.top > img,
.top > span {
  vertical-align: middle;
  font-size: 60px;
}

.top {
  svg,
  img {
    height: 50px;
    width: auto;
    vertical-align: middle;
    padding-right: 10px;
  }
}

img {
  height: 80px;
  width: auto;
  padding-right: 20px;
}

span.sub {
  font-size: 20px;
  display: block;
}

span.min {
  font-size: 14px;
  display: block;
  color: var(--secondary-text);
}

ul.social {
  li:nth-child(2) {
    display: flex;
    gap: 5px;

    .circle {
      cursor: pointer;

      svg {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 764px) {
  footer {
    display: flex;
  }

  .footerContent {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    ul {
      list-style-type: none;
      margin-left: -37px;
    }
  }
}
