.navbar {
  display: flex;
  vertical-align: middle;
  font-size: 19px !important;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  z-index: 999;
  transition: 0.5s ease-in-out;
  height: 100px;

  .navbarContent {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: var(--width);
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    vertical-align: middle;
    color: #fff;

    &:first-child {
      width: 168px;
    }

    li {
      display: inline;
      padding: 13px 15px;
      vertical-align: middle;
    }

    svg,
    img {
      height: 60px !important;
      padding: 10px !important;
      vertical-align: sub;
    }

    span {
      vertical-align: middle;
    }
  }
}

ul.links {
  cursor: pointer;

  a {
    overflow: hidden;
    text-decoration: none;
    position: relative;
    padding: 0.2em 0;
    color: #fff;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: #fff;
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
    }

    &::after {
      height: 0.15em;
      transform: scale(0);
      transform-origin: center;
    }

    &:hover::after {
      opacity: 1;
      transform: scale(1);
    }

    &:focus:after {
      opacity: 1;
      transform: scale(1);
    }
  }
}

ul.dropdownButton {
  font-size: 30px;
  margin-right: 22px;
  cursor: pointer;

  svg {
    color: #fff;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    button {
      display: none;
    }

    span {
      display: none;
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width: 600px) {
  .navbarContent {
    justify-content: space-around !important;
  }
}

@media only screen and (max-width: 600px) {
  .navbarContent {
    display: none;
  }

  ul.links {
    display: none;
  }

  .responsive {
    background: #000000c7;
    height: 100vh;

    .navbarContent {
      align-items: flex-start !important;
    }

    ul.links {
      position: absolute;
      top: 86px;
      left: 10px;
      display: block;

      li {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  ul.dropdownButton {
    display: none;
  }
}

.scroll {
  background-color: var(--secondary-background-color) !important;
  top: 0 !important;

  ul {
    color: #fff !important;
  }

  .filled {
    background: #fbbebe;
    border-color: #fbbebe;
    transition: 0.5s ease-in-out;
  }

  ul.links {
    cursor: pointer;

    a {
      color: var(--text-color);

      &::after {
        background-color: var(--text-color);
      }
    }
  }
}
