.features {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    text-align: center;

    .feature {
        margin: 50px;
        width: 300px;
        text-align: center;

        i {
            font-size: 70px;
            background: linear-gradient(90deg, #ffb032 0%, #dd3b67 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h1 {
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: calc(3.0vh + 1.0vw);
        }
    }
}

@media screen and (min-width: 600px) {
    .features {
        margin-right: 60px;
    }
}

@media screen and (max-width: 600px) {
    .sixty {
        width: 100% !important;
        padding: 5px !important;
    }

    .forty {
        width: 100% !important;
    }
}

@media screen and (min-width: 600px) {
    .sixty {
        width: 100%;
    }

    .forty {
        width: 0%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        padding: 5px !important;
    }
}

@media screen and (min-width: 600px) {
    .column {
        padding: 50px !important;
    }
}

.wave {
    position: absolute;
    z-index: -1;
    margin: 0;
}

.wave-container {
    position: relative;
    overflow: hidden;
}
