.range {
    -webkit-appearance: none;
    width: 200px;
    height: 12px;
    border-radius: 12px;
    outline: none;
    background: #e6e6e6;
    box-shadow: 0 0 100px rgb(0 0 0 / 30%);
    border: none;
}

select {
    background: #e6e6e6;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'Lexend Deca';
}

#otherReason {
    display: none;
    margin-top: 10px;
}