.statistics-content {
  text-align: center;

  span {
    color: var(--text-color);
    font-size: 42px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
  }

  span:nth-child(2) {
    font-size: 24px;
    display: block;
    font-weight: 300;
  }
}

.statistics {
  background: var(--secondary-background-color);

  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    hr {
      height: 30pt;
    }
  }
}

@media only screen and (max-width: 600px) {
  .statistics {
    .content {
      padding: 20px;
    }
  }
}

.team-cards {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.card {
  background: var(--card-background) !important;
  display: flex;
  align-content: center;
  padding: 10px;
  padding-bottom: 30px;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  gap: 10px;

  img {
    padding: 0;
    height: 180px;
    width: auto;
  }

  .card-title {
    font-weight: 400;
    font-size: 30px;
    display: block;
    color: var(--text-color);
  }

  .card-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: var(--secondary-text);
    text-transform: uppercase;
  }

  .circles {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .circle {
      background: #fbbebe;
      cursor: pointer;
      color: black;

      &:hover {
        background: #d69a9a;
      }
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { 
  .circle {
    margin-right: 10px;
  }
}

.supporters {
  .desc {
    width: 230px;
  }

  .team-cards .card {
    width: 125px;
    height: 180px;

    .card-title {
      font-size: 15px;
    }

    img {
      height: 100px;
      border-radius: 50%;
    }

    .circle {
      width: 35px;
      height: 35px;

      svg {
        font-size: 18px;
      }
    }
  }
}

.team {
  background: var(--team-background-color);
  display: flex;
}

.vision {
  color: var(--text-color);
}

.aboutUs {
  height: 40vh;
  display: flex;
  align-items: center;

  .content {
    width: 600px;

    h1 {
      color: var(--text-color);
      font-size: 42px;
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
    }

    b {
      color: #fbbebe;
    }
  }
}

@media only screen and (max-width: 600px) {
  .team-cards {
    flex-direction: column;
  }

  .aboutUs {
    height: auto;
  }
}

.quote {
  background: orange;
  height: 50vh;
  display: flex;
  justify-content: center;
  padding: 30px;

  .quoteText {
    font-size: 64px;
    line-height: 1.1em;
    quotes: auto;
    font-weight: 500;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  .desc {
    font-size: 25px;
  }

  .content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    gap: 30px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 600px) {
  .quoteText {
    font-size: 43px !important;
  }
}

@media only screen and (max-width: 600px) {
  .quoteText {
    font-size: 28px !important;
  }

  .quote .desc {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1400px) {
  .aboutUs {
    padding: 90px;
  }

  .statistics {
    .press-logos {
      padding: 50px;
    }
  }
}
