.brandingContainer {
  color: var(--text-color);
  padding-bottom: 50px;

  h2 {
    font-size: 34px;
    font-weight: 600;
    padding: 50px 50px 0 50px;
  }

  p {
    padding: 0 50px 0 50px;
    font-size: 16px;
    color: var(--secondary-text);
  }

  h2,
  p {
    line-height: 30px;
    max-width: 80%;
  }
}

.colour {
  background: var(--branding-color-background);
}

.logos {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;

  .logo {
    transition: ease-out 0.25s;
    margin: 20px;
  }
}

.orange {
  background: #ffb032 !important;
}

.pink {
  background: #dd3b67 !important;
}

.white {
  background: #fff !important;
}

.pink, .orange, .white {
  p {
    color: black;
  }
}

.theme {
  color: #000;
  text-align: center;
}

.cards {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  width: var(--width);
  margin-bottom: 40px;
}

.card {
  z-index: 2;
  border-radius: 12px;
  width: 250px;
  text-align: center;
  background-color: #fff;
  transition: ease-out 0.25s;
  margin: 40px;
}

.getstarted {
  .title {
    font-size: 34px;
    color: var(--text-color);
  }

  .desc {
    font-size: 16px;
    color: var(--secondary-text);
  }
}

@media only screen and (max-width: 600px) {
  .aboutUs {
    margin-top: calc(500pt + 70px) !important;
    margin-bottom: 70px;

    .content {
      padding: 20px;
      width: 90%;
    }
  }
}

  @media only screen and (max-width: 1280px) and (min-width: 600px) {
    .aboutUs {
      padding: 100px;
    }
  }