.range {
  -webkit-appearance: none;
  height: 12px;
  border-radius: 12px;
  outline: none;
  background: #e6e6e6;
  box-shadow: 0 0 100px rgb(0 0 0 / 30%);
  border: none;
}

select {
  background: var(--get-started-color);
  color: var(--text-color);
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  font-family: "Lexend Deca";
}

@supports (-moz-appearance: none) {
  option {
    font: -moz-pull-down-menu !important;
  }
}

.form input[type="range"] {
  width: 70% !important;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #767676;
  cursor: pointer;

  &:hover {
    background: #616161;
  }
}

.range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #767676;
  cursor: pointer;
  border: none;

  &:hover {
    background: #616161;
  }
}
