/* general */
.navbar {
  background-color: #131111;
}

ul.links {
  display: block !important;
}

.dropdownButton {
  display: none !important;
}

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 1 !important;
}

[data-aos="fade-up"] {
  transform: translate3d(0, 0px, 0) !important;
}

/* home */
.home-promotion > div > span:first-child::after {
  content: "productive";
}

.shareyourmue > div > span:first-child::after {
  content: "everyone.";
}

/* about */
[data-aos="fade-right"],
[data-aos="fade-left"] {
  transform: translate3d(-0px, 0, 0) !important;
}

/* contact and uninstall */
form::before {
  content: "This form requires JavaScript. Please enable it and refresh the page." !important;
}

label,
select,
input,
textarea,
form > button {
  display: none !important;
}
