i {
  margin-right: 5px;
}

a i {
 margin-left: 10px;
}

iframe {
    height: 300px;
    width: 100%;
}

#main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}