footer {
    position: absolute;
    display: table-row;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 25px;
    height: auto;
    margin: 0;
    width: 100vw;
    font-size: 18px;

    @media only screen and (min-device-width : 700px) {
        ul {
            display: inline-block;
        }
    }

    a {
        color: #535c68;
        cursor: pointer;
        text-decoration: none;
    }

    div {
        -webkit-box-pack: left;
        justify-content: left;
        margin-left: 40px;
    }

    @media only screen and (min-width : 700px) {
        div {
            display: flex;
        }

        ul.logo {
            margin-right: 20vw;
        }
    }

    img {
        height: 35px;
        width: auto;
    }

    ul.logo>li.icons {
        display: inline-block;
        cursor: pointer;
        margin-right: 20px;
    }

    i.fab {
        position: relative;
        top: 0;
        transition: top ease 0.5s;

        &:hover {
            top: -4px;
        }
    }

    ul {
        list-style-type: none;
        line-height: 30px;
        padding: 10px;
        margin-right: 60px;
    }

    li.title {
        color: #000;
        font-weight: 600;
    }
}
