input {
    border: 1px solid #000;
    width: 100%;
    font-size: 20px;
    padding: 10px 10px;

    font-family: 'Lexend Deca', sans-serif;

    &:focus {
        outline: 1px solid orange;
    }
}

form {
    height: auto;
    width: 400px;
    height: 600px;
    padding: 30px;
    background-color: #fff;
    color: #000;
    display: inline-block;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .3);
    text-align: left;
}

.extraContacts {
    display: flex;
    flex-flow: wrap;
    align-items: left;
    justify-content: left;
    margin-left: -20px;

    i,
    h4 {
        display: inline;
        font-size: 20px;
    }

    i {
        margin-right: 20px;
    }

    a {
        width: auto !important;
        margin: 10px;
    }
}

@media screen and (max-width: 600px) {
    .extraContacts>#formbutton {
        width: 100vw;
        margin: 10px;
    }
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

.formbutton {
    border: 1px solid #000;
    width: 200px;
    font-size: 20px;
    padding: 12px 20px;
    border: none;
    font-style: normal;

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}

p.small {
    font-style: normal;
    font-size: 13px;
}

.names {
    float: left;
    margin-right: 20px;
    font-size: 30px;
}

.submitbtn {
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(255, 176, 50, 1) 0%, rgba(221, 59, 103, 1) 100%);
    color: #fff;
    width: 100%;
    font-style: normal;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #000;
    padding: 5px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    resize: none;
}

#emailWarning,
#messageWarning {
    color: red;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    min-height: calc(100vh - 50px);
    height: auto;

    h2 {
        font-size: 70px;
        line-height: 60px;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }

}

.faq {
    height: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;

    h1 {
        text-align: center;
    }

    .qaa {
        text-align: left;
        display: inline-block;
        background: #fff;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .25);
        width: 80vw;
        padding: 20px;
        margin-bottom: 40px;

        p,
        i {
            display: inline;
        }

        p {
            font-size: 20px;
        }

        .dwnBtn {
            cursor: pointer;
            float: right;
            font-size: 40px;
            transition: 0.5s;
        }

        .question {
            margin-bottom: 40px;
        }

        .answer {
            display: none;
        }
    }
}
