---
export interface Props {
	frontmatter;
}

import "../styles/base.css"; // tailwind
import "@fontsource/lexend-deca";
import getLocale from "@lib/getLocale";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

const canonical = () => {
	let path = Astro.url.pathname;
	const locale = getLocale(path);
	if (locale !== "en") {
		let parts = path.split("/");
		parts.splice(1, 1);
		path = parts.join("/");
	}
	return new URL(path, Astro.site).toString();
};

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language} class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>
			{
				frontmatter.title?.length > 0
					? `${frontmatter.title} • Mue`
					: "Mue"
			}
		</title>

		<!-- TODO: SEO -->

		<HeadHrefLangs />
		<link rel="canonical" href={canonical()} />

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<script is:inline>
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
		<script
			{/*async
			defer*/}
			type="text/partytown"
			data-website-id="f24748bf-5553-4773-bcbe-568e6c7ffdef"
			src="https://umami.muetab.com/umami.js"
		></script>
	</head>
	{/* fallback gradient for when JS is disabled */}
	<body
		class="relative font-sans text-white bg-gradient-to-r from-mue-orange-light dark:from-mue-orange-dark to-mue-pink-light dark:to-mue-pink-dark"
	>
		<canvas
			id="gradient-canvas"
			class="absolute w-full h-full min-h-screen -z-50"></canvas>
		<script>
			import Gradient from "../js/gradient.js";
			const gradient = new Gradient();
			gradient.initGradient("#gradient-canvas");
		</script>
		<noscript>
			<div class="p-2 md:p-4  bg-rose-600 text-white border-rose-800 border-b-4 md:border-b-8 text-lg text-center">
				<span class="font-bold">{i18next.t("no_script.title")}</span>
				{i18next.t("no_script.message")}
			</div>
		</noscript>
		<slot />
		<style is:global>
			#gradient-canvas {
				--gradient-color-1: #ff8c67;
				--gradient-color-2: #ff829d;
			}

			html.dark #gradient-canvas {
				--gradient-color-1: #b94825;
				--gradient-color-2: #b13854;
			}
		</style>
	</body>
</html>
